# Django Settings
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=True

# Database Settings
DATABASE_URL=postgres://postgres:postgres@localhost:5434/kairos

# Celery Settings
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-oauth-client-secret

# Email Settings (Mailpit)
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
KAIROS_ENABLE_PAYSTATION_ROUTE=True
